@font-face {
  font-family:'MaterialDesignIcons';
  font-weight:normal;
  font-style:normal;
  font-display:swap;
  src:url('MaterialDesignIcons.woff2') format('woff2'),
    url('MaterialDesignIcons.ttf') format('truetype');
